@model Ch7.R3.Artist

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Artist</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OldUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OldUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Provence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Provence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProfilePrivacyLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfilePrivacyLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPrivacyLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPrivacyLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProfileViews)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfileViews)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProfileLastViewDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfileLastViewDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AvatarURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvatarURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileUploadsInBytes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileUploadsInBytes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileUploadQuotaInBytes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileUploadQuotaInBytes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastActivityDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastActivityDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowChatStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowChatStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllowChatSounds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllowChatSounds)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
