@model IEnumerable<Ch7.R3.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProfileViews)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FileUploadsInBytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileUploadQuotaInBytes)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.ProfileViews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileUploadsInBytes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileUploadQuotaInBytes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistId })
        </td>
    </tr>
}

</table>
