@{
    ViewBag.Title = "Index";
}


<h3>Data Control Replacement</h3>

<ul>
    <li>@Html.ActionLink("Repeater Replacement", "RepeaterReplacement","DataExamples")</li>
    <li>@Html.ActionLink("Datalist Replacement using Custom Helper", "DataListReplacement" ,"DataExamples")</li>
    <li>@Html.ActionLink("Grid View Replacement With Sorting, Filtering, And Paging", "GridViewReplacement" ,"DataExamples")</li>
    <li>@Html.ActionLink("Grid View Replacement With Inplace Editing", "GridViewReplacementWithInplaceEditing","DataExamples")</li>
    <li>@Html.ActionLink("Master Details View", "MasterDetailsView","DataExamples")</li>
</ul>
<h3>Forms Example</h3>
<ul>
    <li>@Html.ActionLink("Custom Validation", "Index","Forms")</li>
    <li>@Html.ActionLink("Nested Layout", "NestedLayout","Forms")</li>
    <li>@Html.ActionLink("Wizard", "TitleAndDescription","Wizard")</li>
    <li>@Html.ActionLink("Wizard Client Side", "OnePageWizard","Wizard")</li>
</ul>