@{
    ViewBag.Title = "Unit Test Framework Comparison Test Project";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li>@Html.ActionLink("MS Test", "Index", "MSTest")</li>
    <li>@Html.ActionLink("NUnit", "Index", "NUnit")</li>
    <li>@Html.ActionLink("xUnit.net", "Index", "XUnitDotNet")</li>
    <li>@Html.ActionLink("MbUnit", "Index", "MbUnit")</li>
</ul>
